/********** This is the CSS stylesheet for Assignment Solution Module 3 - WvdH **********/

/** HEADER **/

body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Verdana', sans-serif;
}

/*
#header-nav {
  background-color: #a09e9a;
  border-radius: 0;
  border: 15px;  
  border-color: #000;
  top: 0;
  position:fixed;
  width: 100%;
 } 
*/

.navbar-brand { /* Company name */
  font-family: 'Verdana', sans-serif;
  color: #000;
  background-color: #a09e9a;
  width: 100%;
  float: left;
  height: 70px;
  font-size: 1.7em;
  font-weight: bold;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 10px;

  /*   margin-top: 10px;
  margin-bottom: 10px;
  line-height: .75; */
}

/*
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
*/

/*
.navbar-brand a:hover, .navbar-brand {
  text-decoration: none;
}
*/

/*
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid  #fff;
}
*/

/*
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
  color: #fff
}
*/

/*
.nav-list {
  font-size: 32px;
  color: #000;
  background-color: #fff
}
*/

/** END HEADER **/

h1 {
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 175%;
}
 
.container-fluid {
  background-color: #fff;
  width: 95%;
}

.row {
  background-color:  #a09e9a;
  text-align: left;
  width: 100%;
  outline-offset: 10px;
  margin-block-end: 10px;
}

.title {
  background-color: #a09e9a;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  font-size: 125%;
}

.content {
  margin: 10px;
  margin-top: 20px;
  padding: 10px
}

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
}