body {
    font-size: 16px;
    color: #000;
    background-color: #fff;
    font-family: 'Verdana', sans-serif;
  }
  
  /** HEADER **/
  #header-nav {
    background-color: #a09e9a;
    border-radius: 0;
    border: 0, 5px, 0 5px;
    border-color: #000;
    top: 0;
    position:fixed;
    width: 100%; 
  } 
    
  .navbar-brand {
    padding-top: 10px;
  }

  .navbar-brand h1 { /* Company name */
    font-family: 'Verdana', sans-serif;
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid  #fff;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
    color: #fff
  }
  /* END HEADER */

  h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold; 
    text-align: center;
    font-size: 175%;
 }
 
 .menu {
  background-color: gray;
  margin:10px;
  border:1px solid black;
}