/********** This is the CSS stylesheet for Assignment Solution Module 3 - WvdH **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Verdana', sans-serif;
}

/** HEADER **/
a.navbar-brand {
  padding-left: 5%;
}

.container-fluid {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #999999;
}

h1 {
  font-weight: bold;
}

h2 {
  padding-top: 10px;
  font-weight: bold;
}

h3 {
  padding: 10px
  font-weight: bold;
}

p {
  padding: 5px;
  padding-bottom: 10px;
  line-height: 2em;
  text-align: justify;
}

p > a {
  text-decoration: none;
  font-size: small;
  float:right;
}

h2.menu {
  padding: 2.5vw;
}

.container-fluid {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #999999;
}

.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.nav-link {
  border-bottom: 0.5px solid black;
  border-top: 0.5px solid black;
}

#header-nav {
  background-color: white;
  border-radius: 0;
  border: 0;
  border: 1px solid black;
}

.row {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.container {
  background-color: #999999;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
}